
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Giỏ Hàng Của Bạn</h2>

@if (ViewBag.cart != null)
{
    <table class="table-bordered table">
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
            <th>Option</th>
        </tr>
        @foreach (var item in ViewBag.cart)
        {
    <tr>

        <td>@item.Product.ProductId</td>
        <td>
            <img src="~/images/@item.Product.ProductImage" width="60" height="60" />
        </td>
        <td>@item.Product.ProductName</td>
        <td>@item.Product.ProductPrice</td>
        <td>@item.Quantity</td>
        <td>@(item.Product.ProductPrice * item.Quantity)</td>
        <td><a asp-controller="Cart" asp-action="remove" asp-route-id="@item.Product.ProductId">Remove</a></td>
    </tr>
        }
    <tr>
        <td class="text-right" colspan="6">Sum</td>
        <td class="text-center">
            @ViewBag.total
        </td>
    </tr>
    </table>
}
else
{
    <table class="table-bordered table">
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
            <th>Option</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-right" colspan="6">Sum</td>
            <td class="text-center">
                0
            </td>
        </tr>
    </table>
}

<br>
<a asp-controller="Home" asp-action="index">
    Continue Shopping
</a>
<td><a type="submit" asp-controller="Order" asp-action="Index"><input type="submit" class="btn-outline-success" value="Đặt hàng" /></a></td>