
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebsitePhoneDoAn1.Models.ProductModel
<h1>Home page</h1>

<div>
    <h4>ProductModel</h4>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ProductName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ProductName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ProductPrice)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Descriptions)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Descriptions)
                </dd>
            </dl>
        </div>
        <div class="col-sm-4">
            <img src="~/Images/@Model.ProductImage" width="100" height="100" alt="image" />
        </div>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>



