@{
    ViewData["Title"] = "Index";

}
@model List<WebsitePhoneDoAn1.Models.ProductModel>
<h2>Count: @Model.Count</h2>
<p><a class="btn btn-primary" asp-controller="Product" asp-action="Add">Add</a></p>
<table class="table" style="width:1300px">
    <thead>
        <tr>
            <td>Id</td>
            <td>Product name</td>
            <td>Product discription</td>
            <td>Category</td>
            <td>Product image</td>
            <td>Product quality</td>
            <td>Product price</td>
            <td>Create on</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.Descriptions</td>
                <td>@item.CategoryId</td>
                <td><img src="~/Images/@item.ProductImage" class="img-thumbnail" width="100" height="100" alt="iphoneX" /></td>
                <td>@item.ProductQuantity</td>
                <td>@item.ProductPrice</td>
                <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                <td><a class="btn btn-outline-info" asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a></td>
                <td><a class="btn btn-outline-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

